body {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

/***** Jumbotron *****/
.jumbotron {
  background: none;
  color: #87CC27;
  font-family: fantasy;
}



/***** Img Div *****/
.img {
  height: 100%;
  opacity: 0.5;
}


/***** Game Div *****/
#game-interface {
  border: 1px solid #2248B2;
  font-family: sans-serif;
  font-weight: 800;
  height: 100%;
  color: #2248B2;
  background-color: rgba(255, 0, 0, 0.2);
}

#answer {
  font-size: 3em;
}

button {
  color: #87CC27;
}


/***** Footer *****/
footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(255, 0, 0, 0.2);
  text-align: center;
}

footer a {
  padding-right: 1em;
  padding-left: 1em;
  border-right: 1px solid gray;
  margin-left;
  color: #87CC27;
}

footer p {
  color: #2248B2;
}

/***** Media Queries *****/

@media screen and (max-width: 450px) {
  footer {
    position: relative;
    margin-top: 20px;
  }
}
